<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="font/style.css" />
        <link rel="icon" href="circular.png">
    </head>
    <body>
        <header>
            <h1><img src="logo.svg" style="width: 150px" /></h1>
            <nav>
                <a
                    >Health Conditions <img src="down.svg" style="width: 10px"
                /></a>
                <a>Discover <img src="down.svg" style="width: 10px" /></a>
                <a>Plan <img src="down.svg" style="width: 10px" /></a>
                <a>Connect <img src="down.svg" style="width: 10px" /></a>
                <a>Subscribe</a>
            </nav>
        </header>
        <div>
            <main>
                <h2>
                    Understanding Malwarephobia, or Fear of Malicious Comptuer
                    Software
                </h2>
                <nav>
                    <a href="#">Symptoms</a>
                    &nbsp; | &nbsp;
                    <a href="#">Causes</a>
                    &nbsp; | &nbsp;
                    <a href="#">Diagnosis</a>
                    &nbsp; | &nbsp;
                    <a href="#">Treatment</a>
                    &nbsp; | &nbsp;
                    <a href="#">Takeaway</a>
                </nav>
                <img src="phobia.jpeg" />
                <p
                    style="
                        color: #767474;
                        margin: 10px 0 30px 0;
                        font-size: 14px;
                    "
                >
                    284637893
                </p>
                <p>
                    Malwarephobia characterizes An intense fear of computer
                    malicious software that manifests in physical symptoms. Some
                    online <a>conversations</a> indicate malwarephobia is a
                    genuine phobia that can cause symptoms.
                </p>
                <p>
                    It's not odd to feel uneasy from computer viruses or
                    spyware. For instance, you might feel nervous when seeing a
                    bunch of weird popups on your computer. But this feeling may
                    not cause dread or make you delete all your data.
                </p>
                <p>
                    If you have malwarephobia, even downloading a file from a
                    website or plugging someones flashdrive into your computer
                    may trigger a feeling of anxiety. This awe is usually strong
                    enough to affect your effective use of your personal
                    computer
                </p>
                <p>
                    Read on to learn more about Malwarephobia, including how to
                    overcome it.
                </p>
                <h3>What are the symptoms?</h3>
                <p>
                    The main symptom of malwarephobia is an excessive panic of
                    computer attacks marked by an absurd reaction. For some
                    people, clear virus on their computer triggers this panic.
                    Others may fear any kind popup on their screen, including a
                    random ad.
                </p>
                <p>
                    This can lead to a range of physical and psychological symptoms.
                </p>
                <p>
                    Physical symptoms of malwarephobia include:
                </p>
                <p>
                    <ul>
                        <li>increased sweating, chest pain or tightness, and increased heartbeat at the suspicion of irregular activity on a computer</li>
                        <li>feeling sick or lightheaded when you see or think about malware</li>
                        <li>shaking and trembling when faced with a virus on a computer</li>
                        <li>going out of your way to install software and keeping irrational measures for cybersecurity, even if it makes daily life more difficult</li>
                    </ul>
                </p>
                <p>
                    Psychological symptoms can include:
                </p>
                <p>
                    <ul>
                        <li>experiencing panic when seeing or thinking about having to install software from unfamiliar websites</li>
                        <li>having extreme and constant fear of having a virus in a computer</li>
                        <li>worrying excessively about encountering viruses in the future</li>
                    </ul>
                </p>
                <p style="color: #767474; margin: 30px 0 30px 0; font-size: 14px;">Last medically reviewed on November 16, 2021</p>
                <div style="display: flex; flex-direction: row; align-items: center; width: 100%; justify-content: space-between;">
                    <p style="color: #db1f88;">+ 12 sources</p>
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <img src="printing.png">
                        <img src="email.png">
                        <img src="facebook.png">
                        <img src="twitter.png">
                        <img src="pinterest.png">
                        <img src="reddit.png">
                        <div>
                            FEEDBACK:
                            <img src="happiness.png">
                            <img src="sad.png">
                        </div>
                    </div>
                </div>
            </main>
            <aside>
                <div style="margin-bottom: 20px;">
                    <img src="profile.jpg" />
                    <p>
                        Medically reviewed by Khaled M. AlJoueidi, Ph.D. —
                        Written by Abdullah AlJasser on November 16, 2021
                    </p>
                </div>
                <hr />
            </aside>
        </div>
        <footer style="display: flex; flex-direction: row; align-items: center; width: 100%; justify-content: space-between;">
            <div style="text-align: center;">
                <img src="ciruclar-invert.png" style="width: 50px;">
                <h5>MINDLANE MEDIA</h5>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; width: 50%; justify-content: space-between;">
                <div style="text-align: right;">
                    <nav style="margin-bottom: 25px;">
                        <a href="#">About</a>
                        &nbsp; | &nbsp;
                        <a href="#">Careers</a>
                        &nbsp; | &nbsp;
                        <a href="#">Advertise with us</a>
                    </nav>
                    <nav>
                        OUR BRANDS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">Mindalane</a>
                        &nbsp; | &nbsp;
                        <a href="#">Medical News Today</a>
                        &nbsp; | &nbsp;
                        <a href="#">Greatist</a>
                        &nbsp; | &nbsp;
                        <a href="#">Psych Central</a>
                    </nav>
                </div>
                <img src="honcode.gif">
            </div>
        </footer>
    </body>
</html>
